$color_1: #FFF;
$color_2: #000;
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "Dancing Script";
$background-color_1: #F4849B;
$background-color_2: #FFF;
$background-color_3: #000;

#es-rc {
	#es-rc-content {
		font-family: $font-family_1;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.2;
		max-width: 990px;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		color: $color_1;
		background: #fff;
		* {
			box-sizing: border-box;
		}
		p {
			margin: 0;
		}
		img {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		.es-title {
			text-transform: uppercase;
			text-align: center;
			font-size: 20px;
			margin-bottom: 40px;
			font-weight: 900;
		}
		.es-kv__left {
			position: relative;
			padding: 25px 30px 20px 30px;
		}
		.es-kv__headline {
			text-transform: uppercase;
			text-align: center;
			font-weight: 800;
			font-size: 21px;
			padding: 16px 0;
			line-height: 1.4;
		}
		.es-kv__headline--small {
			font-size: 16px;
			padding: 0;
			margin-bottom: 30px;
		}
		.es-kv__right {
			position: relative;
			margin-bottom: 35px;
		}
		.es-kv__right--header-logo {
			position: absolute;
			right: 0;
			max-width: 140px;
			padding: 15px;
		}
		.es-ingredience {
			font-weight: 800;
			text-align: center;
			font-size: 23px;
		}
		.es-ingredience__header {
			position: relative;
		}
		.es-ingredience__fancy-text {
			display: none;
		}
		.es-ingredience__container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 60px;
			flex-wrap: wrap;
			margin-top: 40px;
		}
		.es-ingredience__single {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		.es-ingredience__single--img {
			width: 180px;
		}
		.es-ingredience__single--text {
			font-size: 14px;
			text-transform: uppercase;
			margin-top: 20px;
		}
		.es-application {
			font-weight: 900;
			margin-top: 70px;
			margin-bottom: 60px;
			padding: 0 30px;
		}
		.es-application__title {
			font-size: 20px;
			text-align: center;
		}
		.es-application__title--big {
			font-size: 30px;
			text-align: center;
			margin-top: 10px;
		}
		.es-application__container {
			display: flex;
			justify-content: center;
			align-items: center;
			row-gap: 45px;
			flex-wrap: wrap;
			margin-top: 40px;
		}
		.es-application__single {
			display: flex;
			flex-direction: column;
			max-width: 300px;
		}
		.es-application__single--img {
			transition: all 0.3s;
			&:hover {
				transform: scale(1.02);
			}
		}
		.es-application__single--text {
			font-size: 14px;
			margin-top: 20px;
		}
		.es-application__single--text-small {
			font-size: 14px;
			font-weight: 300;
			margin-top: 10px;
		}
		.es-application__video--container {
			margin-top: 50px;
		}
		.es-application__video {
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		.es-colors {
			background-color: $background-color_1;
			padding-block: 30px 50px;
		}
		.es-colors__container {
			margin-top: 32px;
			display: flex;
			justify-content: center;
			align-items: center;
			row-gap: 40px;
			flex-wrap: wrap;
		}
		.es-colors__single {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 215px;
			text-align: center;
		}
		.es-colors__number {
			font-weight: 900;
			font-size: 23px;
		}
		.es-colors__text {
			font-weight: 400;
			font-family: $font-family_2;
			font-size: 25px;
		}
		.es-compare {
			position: relative;
			text-align: center;
			font-weight: 900;
			text-transform: uppercase;
			padding-top: 30px;
		}
		.es-compare__title--big {
			font-size: 30px;
		}
		.es-compare__title--small {
			font-size: 16px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 0 10px;
		}
		.es-cross {
			padding: 40px 16px;
			background-color: $background-color_1;
			text-transform: uppercase;
			font-weight: 900;
			text-align: center;
		}
		.es-cross__title {
			font-size: 30px;
		}
		.es-cross__title--small {
			font-size: 20px;
		}
		.es-cross__single {
			display: block;
			margin: 0 auto;
			&:hover {
				.es-cross__img {
					transform: scale(1.05);
				}
				.es-cross__link {
					background-color: $background-color_2;
					color: $color_2;
					box-shadow: inset 0px 0px 0px 2px #000;
				}
			}
		}
		.es-cross__packshot {
			margin-bottom: 16px;
			margin-top: 20px;
			padding-bottom: 16px;
			width: 100%;
			display: flex;
			align-items: flex-end;
		}
		.es-cross__img {
			max-height: 100%;
			transition: all 0.3s;
		}
		.es-cross__container--desc {
			display: block;
			margin: 0 auto;
		}
		.es-cross__name {
			font-size: 14px;
			margin-bottom: 8px;
		}
		.es-cross__desc {
			text-align: center;
			font-size: 14px;
			text-transform: none;
			font-weight: 300;
			margin-bottom: 32px;
		}
		.es-cross__link {
			margin: 0;
			padding: 0;
			line-height: inherit;
			font-size: 14px;
			font-weight: inherit;
			background: #000;
			color: $color_1;
			text-decoration: none;
			padding: 14px 45px;
			font-weight: 900;
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			transition: color 0.3s;
		}
		.es-footer {
			background-color: $background-color_3;
		}
		.es-footer__img {
			max-width: 250px;
			padding-bottom: 5px;
		}
	}
}
@media (min-width: 576px) {
	#es-rc {
		#es-rc-content {
			.es-title {
				font-size: 23px;
			}
			.es-kv {
				position: relative;
			}
			.es-kv__container {
				display: flex;
				flex-direction: row;
				margin-bottom: 50px;
			}
			.es-kv__left {
				width: 50%;
				padding: 15px 10px 0 20px;
			}
			.es-kv__right {
				width: 50%;
				margin-bottom: 0;
			}
			.es-kv__headline {
				font-size: 18px;
			}
			.es-kv__headline--small {
				font-size: 14px;
			}
			.es-kv__left--img {
				max-width: 60%;
			}
			.es-ingredience__single {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: auto;
			}
			.es-ingredience__single--img {
				width: 120px;
			}
			.es-application__title {
				font-size: 23px;
			}
			.es-application__title--big {
				font-size: 43px;
				margin-left: 70px;
			}
			.es-application__container {
				gap: 5px;
			}
			.es-application__single {
				max-width: 30%;
			}
			.es-application__video {
				max-width: 80%;
			}
			.es-colors__container {
				position: relative;
			}
			.es-colors__single {
				max-width: 150px;
			}
			.es-compare {
				padding-top: 50px;
			}
			.es-compare__title--big {
				font-size: 43px;
			}
			.es-compare__title--small {
				margin-bottom: 40px;
				padding: 0;
			}
			.es-cross__title {
				font-size: 43px;
				margin-left: -22%;
			}
			.es-cross__title--small {
				font-size: 23px;
			}
			.es-cross__single {
				max-width: 350px;
			}
			.es-cross__container--desc {
				height: 190px;
				display: flex;
				flex-flow: column;
			}
		}
	}
}
@media (min-width: 768px) {
	#es-rc {
		#es-rc-content {
			.es-kv__left {
				padding: 45px 40px 0 60px;
			}
			.es-ingredience__fancy-text {
				display: block;
				font-weight: 400;
				font-family: $font-family_2;
				font-size: 30px;
				position: absolute;
				max-width: 200px;
				transform: rotate(-10deg);
				right: 75%;
				top: 3px;
				line-height: 1;
			}
			.es-cross__container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-end;
				gap: 32px 8px;
				margin-top: 10px;
			}
			.es-cross__single {
				max-width: 234px;
				display: flex;
				align-items: center;
				flex-flow: column;
			}
			.es-cross__packshot {
				height: 300px;
			}
			.es-cross__container--desc {
				height: 210px;
			}
			.es-cross__desc {
				max-width: 280px;
			}
		}
	}
}
@media (min-width: 854px) {
	#es-rc {
		#es-rc-content {
			.es-kv__headline {
				font-size: 21px;
				padding: 16px 0;
			}
			.es-kv__headline--small {
				font-size: 16px;
				padding: 0;
				margin-bottom: 30px;
			}
			.es-kv__left--img {
				max-width: 280px;
			}
		}
	}
}
@media (min-width: 865px) {
	#es-rc {
		#es-rc-content {
			.es-ingredience__fancy-text {
				right: 70%;
			}
		}
	}
}
@media (min-width: 986px) {
	#es-rc {
		#es-rc-content {
			.es-application__single {
				max-width: 300px;
			}
		}
	}
}
@media (min-width: 945px) {
	#es-rc {
		#es-rc-content {
			.es-cross__single {
				max-width: 300px;
			}
			.es-cross__packshot {
				height: 350px;
			}
			.es-cross__container--desc {
				height: 190px;
			}
		}
	}
}